.cell {
	position: relative;
}

.back_img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.fore_img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#white_column_info {
    float: left;
    width: 50%;
}

#black_column_info {
    float: right;
    width: 50%;
}