.cell {
	position: relative;
}

.back_img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.fore_img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.high_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.lib_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index 3;
}

#white_column_info {
    float: left;
    width: 50%;
}

#black_column_info {
    float: right;
    width: 50%;
}

body {
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    color: white;
	text-shadow: 1px 1px #000000;
    height: 600px;
}

table {
    background-color: white;
    color: black;
}